/*------------------------------------*\
    #GRID-SETTINGS
\*------------------------------------*/

$grid-columns:      24;
$column:             30px;
$gutter:             10px;
$max-width:          950px;
