/*------------------------------------*\
    #SETTINGS-COLORS
\*------------------------------------*/

$color-white: #fff;
$color-black: #333;
$color-red: #ec3e08;
$color-green: #4f701a;




/*------------------------------------*\
    #MEANINFUL-NAMES
\*------------------------------------*/

$color-light: $color-white;
$color-dark: $color-black;

$color-brand: $color-green;

$color-interactive: $color-red;

$color-text: $color-dark;
$color-link: $color-interactive;
$color-button: $color-interactive;

$color-background: $color-light;





/*------------------------------------*\
    #MEANINFUL-STATUS
\*------------------------------------*/

$color-success-bg: $color-green;
$color-success-text: darken($color-green, 20);

$color-error-bg: $color-red;
$color-error-text: darken($color-red, 20);





/*------------------------------------*\
    #SETTINGS-INUIT
\*------------------------------------*/

$inuit-base-text-color: $color-text;
$inuit-base-background-color: $color-background;
